.container
    .row
        .col-md-4.well
            a(href='#/user/endpoints')
                | Endpoints
            hr
            .row
                .col-md-8
                    label Resources
                .col-md-4
                    |{{resourceCount}}
            .row
                .col-md-8
                    label Methods
                .col-md-4
                    |{{methodCount}}
        .col-md-4.col-md-offset-1.well
            a(href='#/user/crons')
                | Crons
