.container
    .row
        .col-md-4.well
            a(href='#/user/endpoints')
                | Endpoints
        .col-md-4.col-md-offset-1.well
            a(href='#/user/crons')
                | Crons
