.container
    .row.dashboard-wrap
        .col-md-offset-2.col-md-4
            .well
                a.text-center(href='#/user/endpoints')
                    i.hvr-radial-out
                        img(src="/images/endpoints-icon.png")
                    h4 Endpoints
                        span
                            img(src="/images/arrow-circle-right.png")
        .col-md-4
            .well
                a.text-center(href='#/user/presets')
                    i.hvr-radial-out
                        img(src="/images/presets-icon.png")
                    h4 Presets
                        span
                            img(src="/images/arrow-circle-right.png")
