.container
    .row
        .col-md-12
            div
                button.btn.btn-default.pull-right(ng-click='createEndpoint()')
                    | Create
        .col-md-2
            include partials/_left-nav
        .col-md-10
            div
                h3 Endpoints will populate here.
