.container
    div(ng-if="view==='defaultView'", data-ng-show="view==='defaultView'")
        .row
            .col-md-12
                h1.title Endpoints
                    button.btn.btn-warning.pull-right.create-endpoints-btn(ng-click="createEndpoint()")
                        | Create Endpoint
        hr
        .row
            uib-accordion(close-others='true')
                .col-md-6.user-endpoints(ng-repeat='endpointItem in endpoints track by $index')
                    uib-accordion-group
                        uib-accordion-heading
                            h2
                                span {{$index + 1}}
                                p.text-capitalize.pull-left
                                    | {{endpointItem.name}}
                                i.pull-right
                                    img(src="/images/arrow-circle-right-mini.png")
                        div.endpoints-table(ng-hide="editMode === endpoint._id")
                            .col-md-3
                                label.pull-left Name
                            .col-md-5
                                span
                                    | {{endpointItem.name}}
                            .col-md-4
                                div.pull-right
                                    button.btn.btn-info.btn-mini.bg-primary(ng-click='editEndpoint(endpointItem)')
                                        i.fa.fa-pencil-square-o
                                    button.btn.btn-danger.btn-mini(ng-click='deleteEndpoint(endpointItem._id)')
                                        i.fa.fa-trash
                            .clearfix
                            .col-md-3
                                label.pull-left Base URL
                            .col-md-9
                                span
                                    | {{endpointItem.baseUrl}}
                            .clearfix
                            .col-md-3
                                label.pull-left Sub Directory
                            .col-md-9
                                span
                                    | {{endpointItem.subDirectory}}
                            .clearfix
                            .col-md-3
                                label.pull-left Description
                            .col-md-9
                                span
                                    | {{endpointItem.description}}
                            .clearfix
                            .col-md-3
                                label.pull-left Disabled
                            .col-md-9
                                span
                                    | {{endpointItem.isDisabled}}
                            .clearfix
                            .col-md-12.h-line
                                label.f17 Routes
                            .clearfix
                            .table-responsive.panel-less-padding.show-result-table
                                table.table.table-hover.table-bordered.table-striped
                                    thead
                                        tr
                                            th
                                                label Name

                                            th
                                                label Sub Directory

                                            th
                                                label Interval
                                            th
                                                label Schedule
                                            th
                                                label Make Request
                                    tbody
                                        tr(ng-repeat='route in endpointItem.routes track by $index')
                                            td {{route.name}}
                                            td {{route.subDirectory}}
                                            td {{route.interval}}
                                            td {{route.schedule}}
                                            td
                                                button.btn.btn-warning.create-endpoints-btn(ng-click="requestEndpoint(endpoint._id, $index)") Request
                        div.editable-input(ng-show="editMode === endpointItem._id")
                            form(name='endpointEditFrm', novalidate='true' ng-show='editMode')
                                .clearfix
                                .table-responsive.panel-less-padding.edit-table
                                    table.table
                                        tr
                                            td
                                                span(data-ng-class="{'has-error': endpointEditFrm.name.$dirty && endpointEditFrm.name.$invalid }")
                                                    label.control-label
                                                        | Name
                                            td
                                                input.form-control.pull-left(type='text', name='name', data-ng-model='endpoint.name', required='required', placeholder='Endpoint Name...', autocomplete='off')
                                                div(data-ng-show='endpointEditFrm.name.$dirty && endpointEditFrm.name.$invalid')
                                                    span.help-block(data-ng-show='!endpointEditFrm.name.hasFocus && endpointEditFrm.name.$error.required') Required
                                            td
                                                div.pull-right
                                                    input.btn.btn-danger(type='button', value='Cancel', ng-click='cancelEdit()')
                                                    input.btn.btn-success(type='submit', value='Update', ng-click='update()', ng-disabled='endpointFrm.$invalid')
                                            tr
                                                td
                                                    span(data-ng-class="{'has-error': endpointEditFrm.baseUrl.$dirty && endpointEditFrm.baseUrl.$invalid }")
                                                    label.control-label
                                                        | Base URL
                                                td(colspan=2)
                                                    input.form-control(type='url', name='baseUrl', data-ng-model='endpoint.baseUrl', placeholder='Base URL...', required='required', autocomplete='off')
                                                    div(data-ng-show='endpointEditFrm.baseUrl.$dirty && endpointEditFrm.baseUrl.$invalid')
                                                        span.help-block(data-ng-show='!endpointEditFrm.baseUrl.hasFocus && endpointEditFrm.baseUrl.$error.required') Required
                                                        span.help-block(data-ng-show='!endpointEditFrm.baseUrl.hasFocus && endpointEditFrm.baseUrl.$error.url') is not a valid url
                                            tr
                                                td
                                                    label.control-label
                                                        | Subdirectory
                                                td(colspan=2)
                                                    input.form-control(type='text', name='subdir', data-ng-model='endpoint.subDirectory', placeholder='Subdirectory...', autocomplete='off')
                                            tr
                                                td
                                                    label.control-label
                                                        | Description
                                                td(colspan=2)
                                                    input.form-control(type='text', name='desc', data-ng-model='endpoint.description', placeholder='Endpoint Description...', autocomplete='off')
                                            tr
                                                td
                                                    label.control-label
                                                        | Disabled
                                                td(colspan=2)
                                                    switch.form-control(data-ng-model='endpoint.isDisabled')
                                            tr.h-line(colspan=3)
                                                td
                                                    label.control-label.f17
                                                        | Routes
                                                td(colspan=2)
                                                    button.btn.btn-info.pull-right.btn-mini.bg-primary(ng-click='addRoute()', title="Add new route")
                                                        i.fa.fa-plus
                                    .clearfix
                                    .table-responsive
                                        table.table.table-hover.table-bordered.table-striped.edit-list
                                            thead
                                                tr
                                                    th
                                                        label Name

                                                    th
                                                        label Sub Directory

                                                    th
                                                        label Interval
                                                    th
                                                        label Schedule
                                                    th
                                                        label Action
                                            tbody
                                                tr(ng-repeat='route in endpoint.routes track by $index')
                                                    td
                                                        input.form-control(type='text', name='name', data-ng-model='route.name', placeholder='Route Name...', autocomplete='off')
                                                    td
                                                        input.form-control(type='text', name='subdir', data-ng-model='route.subDirectory', placeholder='Route Subdirectory...', required='required', autocomplete='off')
                                                    td
                                                        input.form-control(type='text', name='interval', data-ng-model='route.interval', placeholder='Route Interval...', required='required', autocomplete='off')
                                                    td
                                                        select.form-control(name='schedule', data-ng-model='route.schedule', ng-options='preset.value as preset.name for preset in presets')
                                                    td
                                                        button.btn.btn-danger.btn-mini(ng-click='deleteRoute($index)', ng-disabled='endpoint.routes.length === 1')
                                                            i.fa.fa-trash
            .clearfix
        .row
            button.btn.btn-info.center-block(ng-show="showLoadMoreBtn", ng-click="loadEndpoints()")
                | Load More...
    div.create-endpoint-wrap.editable-input(data-ng-show="view==='formView'")
        .row
            h1.title
                | Create Endpoint
                button.btn.btn-warning.pull-right.create-endpoints-btn(ng-click="cancel()")
                    i.fa.fa-arrow-left
                    | Back
        hr
        .row
            form(name='endpointFrm', novalidate='true')
                .col-md-6.col-xs-12
                    .form-horizontal
                        .form-group(data-ng-class="{'has-error': endpointFrm.name.$dirty && endpointFrm.name.$invalid }")
                            .col-md-3
                                label.control-label
                                    | Endpoint Name
                            .col-md-9
                                input.form-control(type='text', name='name', data-ng-model='endpoint.name', required='required', placeholder='Endpoint Name...', autocomplete='off')
                                div(data-ng-show='endpointFrm.name.$dirty && endpointFrm.name.$invalid')
                                    span.help-block(data-ng-show='!endpointFrm.name.hasFocus && endpointFrm.name.$error.required') Required
                        .form-group(data-ng-class="{'has-error': endpointFrm.baseUrl.$dirty && endpointFrm.baseUrl.$invalid }")
                            .col-md-3
                                label.control-label
                                    | Base URL
                            .col-md-9
                                input.form-control(type='url', name='baseUrl', data-ng-model='endpoint.baseUrl', placeholder='Base URL...', required='required', autocomplete='off')
                                div(data-ng-show='endpointFrm.baseUrl.$dirty && endpointFrm.baseUrl.$invalid')
                                    span.help-block(data-ng-show='!endpointFrm.baseUrl.hasFocus && endpointFrm.baseUrl.$error.required') Required
                                    span.help-block(data-ng-show='!endpointFrm.baseUrl.hasFocus && endpointFrm.baseUrl.$error.url') is not a valid url
                        .form-group
                            .col-md-3
                                label.control-label
                                    | Subdirectory
                            .col-md-9
                                input.form-control(type='text', name='subdir', data-ng-model='endpoint.subdirectory', placeholder='Subdirectory...', autocomplete='off')
                        .form-group
                            .col-md-3
                                label.control-label
                                    | Description
                            .col-md-9
                                input.form-control(type='text', name='desc', data-ng-model='endpoint.description', placeholder='Endpoint Description...', autocomplete='off')
                        .form-group
                            .col-md-3
                                label.control-label
                                    | Disabled
                            .col-md-9
                                switch.form-control(data-ng-model='endpoint.isDisabled')
                .row
                    .col-md-offset-1.col-md-8.topline
                        .form-group
                            .row
                                .col-md-12.control-label
                                    h4.mt50
                                        |Add Routes
                                        div.pull-right
                                            input.btn.btn-success.btn-mini(type='submit', value='Save', ng-click='save()', ng-disabled='endpointFrm.$invalid')
                                        button.btn.btn-info.pull-right.btn-mini.bg-primary(ng-click='addRoute()', title="Add new route")
                                            i.fa.fa-plus

                .row
                    .col-md-offset-3.col-md-6.add-endpoint(ng-repeat='route in endpoint.routes track by $index')
                        button.btn.btn-danger.btn-mini.pull-right(ng-click='deleteRoute($index)', ng-disabled="endpoint.routes.length === 1")
                            i.fa.fa-trash
                        ng-form(name='routeFrm')
                            .form-horizontal
                                .form-group
                                    .col-sm-3
                                        label.control-label
                                            | Name
                                    .col-sm-9
                                        input.form-control(type='text', name='name', data-ng-model='route.name', placeholder='Route Name...', autocomplete='off')
                                .form-group(data-ng-class="{'has-error': routeFrm.subdir.$dirty && routeFrm.subdir.$invalid }")
                                    .col-sm-3
                                        label.control-label
                                            | Subdirectory
                                    .col-sm-9
                                        input.form-control(type='text', name='subdir', data-ng-model='route.subDirectory', placeholder='Route Subdirectory...', required='required', autocomplete='off')
                                .form-group(data-ng-class="{'has-error': routeFrm.interval.$dirty && routeFrm.interval.$invalid }")
                                    .col-sm-3
                                        label.control-label
                                            | Interval
                                    .col-sm-9
                                        input.form-control(type='text', name='interval', data-ng-model='route.interval', placeholder='Route Interval...', required='required', autocomplete='off')
                                        div(data-ng-show='routeFrm.interval.$dirty && routeFrm.interval.$invalid')
                                            span.help-block(data-ng-show='!routeFrm.interval.hasFocus && routeFrm.interval.$error.required') Required
                                .form-group(data-ng-class="{'has-error': routeFrm.schedule.$dirty && routeFrm.schedule.$invalid }")
                                    .col-sm-3
                                        label.control-label
                                            | Schedule
                                    .col-sm-9
                                        select.form-control(name='schedule', data-ng-model='route.schedule', ng-options='preset.value as preset.name for preset in presets')
                                        div(data-ng-show='routeFrm.schedule.$dirty && routeFrm.schedule.$invalid')
                                            span.help-block(data-ng-show='!routeFrm.schedule.hasFocus && routeFrm.schedule.$error.laterParse') is not a valid string

                                .clearfix
                            hr
                .row
                    .col-md-offset-3.col-md-6

