.container
    div(ng-if="view==='defaultView'", data-ng-show="view==='defaultView'")
        .row
            .col-md-10
                h1 Presets
            .col-md-2
                button.btn.btn-info.pull-right(ng-click="createPreset()")
                    | Create Preset

        hr
        .row
            uib-accordion(close-others='true')
                .col-md-6.presets(ng-repeat='presetItem in presets track by $index')
                    uib-accordion-group
                        uib-accordion-heading
                            h3 {{$index + 1}}
                                .text-capitalize {{presetItem.name}}
                        div(ng-hide="editMode === presetItem._id")
                            div.pull-right
                                button.btn.btn-info(ng-click='editPreset(presetItem)')
                                    i.fa.fa-pencil-square-o
                                button.btn.btn-danger(ng-click='deletePreset(presetItem._id)')
                                    i.fa.fa-trash
                            table.table.table-hover.table-responsive
                                tr
                                    td
                                        label Name
                                    td
                                        | {{presetItem.name}}
                                tr
                                    td
                                        label Value
                                    td
                                        | {{presetItem.value}}
                        div(ng-show="editMode === presetItem._id")
                            div.pull-right
                                input.btn.btn-danger(type='button', value='Cancel', ng-click='cancelEditMode()')
                                input.btn.btn-success(type='submit', value='Update', ng-click='update()', ng-disabled='presetEditFrm.$invalid')
                            form(name="presetEditFrm", novalidate='true')
                                .form-horizontal
                                    .form-group(data-ng-class="{'has-error': presetEditFrm.name.$dirty && presetEditFrm.name.$invalid }")
                                        label.col-md-2.control-label
                                            | Preset Name
                                        .col-md-6
                                            input.form-control(type='text', name='name', data-ng-model='preset.name', required='required', placeholder='Enter Name...', autocomplete='off')
                                            div(data-ng-show='presetEditFrm.name.$dirty && presetEditFrm.name.$invalid')
                                                span.help-block(data-ng-show='!presetEditFrm.name.hasFocus && presetEditFrm.name.$error.required') Required
                                .form-horizontal
                                    .form-group(data-ng-class="{'has-error': presetEditFrm.value.$dirty && presetEditFrm.value.$invalid }")
                                        label.col-md-2.control-label
                                            | Preset Value
                                        .col-md-6
                                            input.form-control(type='text', name='value', later-parse, data-ng-model='preset.value', required='required', placeholder='Enter Value...', autocomplete='off')
                                            div(data-ng-show='presetEditFrm.value.$dirty && presetEditFrm.value.$invalid')
                                                span.help-block(data-ng-show='!presetEditFrm.value.hasFocus && presetEditFrm.value.$error.required') Required
                                                span.help-block(data-ng-show='!presetEditFrm.value.hasFocus && presetEditFrm.value.$error.laterParse') is not a valid string

        .row
            button.btn.btn-info.center-block(ng-show="showLoadMore", ng-click="loadPresets()")
                | Load More...
    div(data-ng-show="view==='formView'")
        .row
            h1.title
                | Create Preset
                button.btn.btn-warning.pull-right.create-endpoints-btn(ng-click="cancel()")
                    i.fa.fa-arrow-left
                    | Back
        hr
        .row
            .col-md-6.col-xs-12
                form(name="presetFrm", novalidate='true')
                    .form-horizontal
                        .form-group(data-ng-class="{'has-error': presetFrm.name.$dirty && presetFrm.name.$invalid }")
                            label.col-md-2.control-label
                                | Preset Name
                            .col-md-10
                                input.form-control(type='text', name='name', data-ng-model='preset.name', required='required', placeholder='Enter Name...', autocomplete='off')
                                div(data-ng-show='presetFrm.name.$dirty && presetFrm.name.$invalid')
                                    span.help-block(data-ng-show='!presetFrm.name.hasFocus && presetFrm.name.$error.required') Required
                    .form-horizontal
                        .form-group(data-ng-class="{'has-error': presetFrm.value.$dirty && presetFrm.value.$invalid }")
                            label.col-md-2.control-label
                                | Preset Value
                            .col-md-10
                                input.form-control(type='text', name='value', later-parse, data-ng-model='preset.value', required='required', placeholder='Enter Value...', autocomplete='off')
                                div(data-ng-show='presetFrm.value.$dirty && presetFrm.value.$invalid')
                                    span.help-block(data-ng-show='!presetFrm.value.hasFocus && presetFrm.value.$error.required') Required
                                    span.help-block(data-ng-show='!presetFrm.value.hasFocus && presetFrm.value.$error.laterParse') is not a valid string
                    div.pull-right
                        input.btn.btn-success(type='submit', value='Save', ng-click='save()', ng-disabled='presetFrm.$invalid')
