.block-button {
  display: inline-block;
  padding: $size-xs;
  box-shadow: $box-shadow-default;
  text-decoration: none;
  color: $color-body;
  
  &:hover {
    box-shadow: $box-shadow-thick;
  }
  & > h3 {
    font-size: $size-s;
  }
}