doctype
html(lang='en', ng-app='klarifyApp')
    head
        div(ng-include="'views/meta.html'")
        //link(rel='shortcut icon', href='../images/favicon.ico')
        title Klarify Scheduler
        style(type='text/css').
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        script(type="text/javascript", src="./app.js")
        link(href="css/main.css", rel="stylesheet")
    body(data-ng-cloak = '')
        //add header bar directive named nav-bar
        #wrap.ng-cloak
          nav-bar
              div(ng-include="'views/header.html'")
            div(ui-view)
          .push
        footer-bar
            div(ng-include="'views/footer.html'")
