doctype
html(lang='en', ng-app='klarifyApp')
    head
        include views/public/partials/_meta
        //link(rel='shortcut icon', href='../images/favicon.ico')
        title Klarify Scheduler
    body(data-ng-cloak = '')
        //add header bar directive named nav-bar
        #wrap.ng-cloak
          nav-bar
              include views/public/partials/_header
            div(ui-view)
          .push
        footer-bar
            include views/public/partials/_footer
        script(type="text/javascript", src="./app.js")
        link(href="css/main.css", rel="stylesheet")
