footer
    .container
        .row
            .col-xs-12
                ul.list-unstyled
                    li
                        a(href='') ABOUT US
                    li
                        a(href='') PRIVACY
                    li
                        a(href='') CONTACT
                h4.pull-right Copyright @ John Doe, 2016


