nav.navbar.navbar-default(ng-controller='navbarCtrl')
    .container-fluid
        .navbar-header
        .container
            a.navbar-brand(href='#') Klarify Scheduler
            ul.nav.navbar-nav.pull-right(ng-hide='isLoggedIn')
                li
                    a(href='#/register') Sign Up
                li
                    a(href='#/login') Sign In
            ul.nav.navbar-nav.pull-right(ng-show='isLoggedIn')
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | {{user.email}}
                        i.fa.fa-angle-down.ml10
                    ul.dropdown-menu
                        li
                            a(href='', data-ng-click='logout()') Sign Out
toaster-container
