nav.navbar.navbar-default.navbar-header-bg(ng-controller='navbarCtrl')
    .container-fluid
        .navbar-header
        .container
            a.navbar-brand(href='', ng-click="logoClick()") Klarify Scheduler
            ul.nav.navbar-nav.pull-right(ng-hide='user')
                li
                    a(href='', ng-click="openRegisterModal()") Sign Up
                li
                    a(href='', ng-click="openLoginModal()") Sign In
            ul.nav.navbar-nav.pull-right(ng-show='user')
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | {{user.email}}
                        i.fa.fa-angle-down.ml10
                    ul.dropdown-menu
                        li
                            a(href='#/user/dashboard') Dashboard
                        li
                            a(href='', data-ng-click='logout()') Sign Out
toaster-container
