ul.list-unstyled
    li
        a(href='', ng-click="isCollapsed = !isCollapsed" ng-show="resource.methods.length || resource.resources.length")
            i.fa(data-ng-class="{'fa-caret-right': isCollapsed, 'fa-caret-down': !isCollapsed}")
        a(href='', ng-click='selectResource(resource)', data-ng-class="{'myClass': resource._id === currentSelection.id && currentSelection.type === 'resource' }")
            i.fa.fa-cubes
                | &nbsp {{resource.path}}
        ul.listNone(uib-collapse="isCollapsed")
            li(ng-repeat='method in resource.methods track by $index' ng-include="'./views/user/partials/method.html'")
            li(ng-repeat='resource in resource.resources track by $index' ng-include="'./views/user/partials/resource.html'")
