nav.navbar.navbar-default(ng-controller='navbarCtrl')
    .container-fluid
        .navbar-header
        .container
            a.navbar-brand(href='#') Klarify Scheduler
            ul.nav.navbar-nav.pull-right
                li
                    a(href='#/register') Sign Up
                li
                    a(href='#/login') Sign In
