nav.navbar.navbar-default(ng-controller='navbarCtrl')
    .container-fluid
        .navbar-header
        .container
            a.navbar-brand(href='#') Klarify Scheduler
            ul.nav.navbar-nav.pull-right
                li(ng-hide='isLoggedIn')
                    a(href='#/register') Sign Up
                li(ng-hide='isLoggedIn')
                    a(href='#/login') Sign In
                li(ng-show='isLoggedIn')
                    a(href='javascript:void(0);' ng-click='logout()') Sign Out
