.container
    .well.col-md-6
        form(name = 'forgotPassForm', novalidate = 'novalidate')
            .col-md-12
                label.txt-light-green Email Address*
            .col-md-12
                div(data-ng-class = "{'has-error': forgotPassForm.email.$dirty && forgotPassForm.email.$invalid}")
                    input.form-control(type = 'email', name = 'email', ng-pattern = 'emailPattern', data-ng-model = 'forgot.username', , placeholder = "Enter Email Address...", required = 'required')
                div(data-ng-show = 'forgotPassForm.email.$dirty && forgotPassForm.email.$invalid || forgotPassForm.email.$error.pattern')
                    span.help-block(data-ng-show = 'forgotPassForm.email.$error.required', style = 'color: red;') Required
                    span.help-block(ng-show = 'forgotPassForm.email.$error.pattern', style = 'color: red;') Invalid email address.
            .col-md-12.mt10
                br
                input.btn.btn-primary.pull-right(type = 'submit', value = 'Send', data-ng-disabled = 'forgotPassForm.$invalid')
