.container
    .well.col-md-6
        form(name = 'loginForm', ng-submit='login()' novalidate = 'novalidate')
            .form-group(data-ng-class = "{'has-error': loginForm.email.$dirty && loginForm.email.$invalid }")
                label
                    | Email Address
                input.form-control(type = 'email', name = 'email', data-ng-model = 'user.email', placeholder = 'Enter Email Address...', required = 'required', autocomplete = 'off')
                div(data-ng-show = 'loginForm.email.$dirty && loginForm.email.$invalid')
                    span.help-block(data-ng-show = '!loginForm.email.hasFocus && loginForm.email.$error.required') Required
            .form-group(data-ng-class = "{'has-error': loginForm.password.$dirty && loginForm.password.$invalid}")
                label
                    | Password
                input.form-control(type = 'password', name = 'password', data-ng-model = 'user.password', placeholder = 'Enter Password...', required = 'required', autocomplete = 'off')
                div(data-ng-show = 'loginForm.password.$dirty && loginForm.password.$invalid')
                    span.help-block(data-ng-show = '!loginForm.password.hasFocus && loginForm.password.$error.required') Required
            .pull-right
                input.btn.btn-primary.pull-right(type = "submit", value = "Login", data-ng-disabled="loginForm.$invalid")

